<div class="row" style="padding: 10px">
<h3>Student Info</h3>
<button (click)="goToStudentRapport(student.studentennummer)"
        class="btn btn-light btn-outline-primary"
        style="margin-left: 20px; height: 40px">Rapport</button>
</div>
<div class="studentInfo">
  <div>
    <label><b>Studentennummer: </b></label> {{student.studentennummer}}
  </div>
  <div>
    <label><b>Voornaam: </b></label> {{student.naam}}
  </div>
  <div>
    <label><b>Achternaam: </b></label> {{student.achternaam}}
  </div>
  <div>
    <label><b>Cohort: </b></label> {{student.cohort}}
  </div>
  <div>
    <label><b>Afstudeerjaar: </b></label> {{student.afstudeer_jaar}}
  </div>
  <div>
    <label><b>Email: </b></label> {{student.email}}
  </div>
  <div>
    <label><b>Geslacht: </b></label> {{student.geslacht}}
  </div>
  <div>
    <label><b>Orientatie: </b></label> {{student.orientatie}}
  </div>
  <div>
    <label><b>Studie Status: </b></label> {{student.studie_status}}
  </div>
</div>

<div>
  <button (click)="goToUpdateStudent()"
          class="btn btn-light btn-outline-warning"
          style="margin-top: 20px">Update Student</button>
  <button (click)="goToStudentList()"
          class="btn btn-light btn-outline-secondary"
          style="margin-top: 20px; margin-left: 5px">Terug naar Studentenlijst</button>
</div>
  <button (click)="deleteStudent(student.studentennummer, student.naam, student.achternaam)"
          class="btn btn-light btn-outline-danger"
          style="margin-top: 10px">Delete Student</button>


